*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html {
    overflow-y: scroll;
  }
  
  body {
    background: #c1bdba;
    font-family: 'Titillium Web', sans-serif;
  }
  
  a {
    text-decoration: none;
    color: #1ab188;
    transition: .5s ease;
  }
  a:hover {
    color: #179b77;
  }
  
  .form {
    background: rgba(19, 35, 47, 0.9);
    color: white;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  }

  .form #result {
    width: 75px;
  }

  form .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
  }

  h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
  }
  
  .field-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .field-wrap span {
    padding: 5px 5px 5px 5px;
  }

  .button-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 15px;
    font-weight: bold;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
  }
  .button:hover, .button:focus {
    background: #179b77;
  }
  
  .button.danger {
    background: tomato;
  }

  .button.danger:hover, .button.danger:focus {
    background: crimson;
  }

  .button-block {
    display: block;
  }  

  